<section id="image-strip">
  <p id="main-header-text">HELLO FOOD LOVERS...</p>
  <p id="secondary-header-text">Organico helps you find merchants selling organic produce in your area.</p>
</section>

<div id="shops-wrapper">
  <div id="search-shops-div">
    <%= form_tag("/search", method: "get") do %>
      <%= label_tag(:q, "Search shops in your area") %>
      <%= text_field_tag(:q) %>
      <%= submit_tag("Search", id: "search-submit-button") %>
    <% end %>
  </div>
  <div id="shops-div">
    <ul id="shops-ul">
    <% @shops.each do |shop| %>
      <li class="shops" id="<%= shop.id %>" data-latitude="<%= shop.latitude %>" data-longitude="<%= shop.longitude %>">
        <span id="shop-name">
          <%= shop.name %><br />
        </span>
        <span id="shop-address">
          <%= shop.address_city %>,
          <%= shop.address_street %>,
          <%= shop.address_postcode %>
        </span>
        <ul id="tags-container-ul">
            <% shop.tags.each do |tag| %>
              <li id="tags">
                <%= tag.name %>
              </li>
            <% end %>
        </ul>
      </li>
    <% end %>
    <ul>
    <%= will_paginate @shops, :page_links => false, :class => 'digg_pagination' %>
  </div>
</div>
  <section id="map-canvas">
    <p>GOOGLE MAPS<BR /> GOES HERE</p>
  </section>
<div class="clear-both"></div>
