<!DOCTYPE html>
<html>
<head>
  <title>Organico</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Dosis|Pacifico' rel='stylesheet' type='text/css'>
  <script type="text/javascript" 
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAudBKh-UugieMeEM9OjLX3YY3-IcJBU4o&sensor=FALSE">
  </script>
</head>
<body>

<div id="main-wrapper">
  <header>
    <nav id="nav-wrapper">
      <%= link_to(image_tag("logo_on_green.png"), root_path) %>
      <h1 id="logo">Organico</h1>
      <ul class="hmenu">
        <li><a href="#">about</a></li>
        <li><a href="#">food for thought</a></li>
        <li><a href="#">profile</a></li>
        <%= render 'devise/menu/registration_items' %>
        <%= render 'devise/menu/login_items' %>
      </ul>

    </nav>
  </header>

  <%= flash[:notice] %>
  <%= flash[:alert] %>

  <main>
    <%= yield %>
  </main>

  


</div>


</body>
</html>
